body{
    background-color:#FFBFF8;
    font-family:Courier, Verdana, Georgia ;
    overflow: scroll;
    padding:50px;
    font-size: 20px;
    align-items: center;
}
form{
    background-color: #E3BBFA;
    padding: 25px;
    display:inline-block;
    border-radius:25px;
}
input{
    margin:10px;
}

#submit{
    font-size:20px;
    border-radius:7px;
}
